<!--#start Our footer Area -->
<div class="our_footer_area">
   <div class="book_now_aera ">
      <div class="container wow fadeInUp">
         <div class="row book_now">
            <div class="col-md-4">
               <div class="">
                  <a class=" logo-biss" href="#" id="footer-logo-link"> CHELSEA <br> CHANCELLOR</a>
               </div>

            </div>
            <div class="col-md-1 ">
            </div>
            <div class="col-md-3">
               <h2 class="footer-top">Quick links </h2>
               <ul class="footer-menu">
                  <li><a href="#" class="footer-nav-link" data-page="index"> Home</a></li>
                  <li><a href="#" class="footer-nav-link" data-page="about">About us  </a> </li>
                  <li><a href="#" class="footer-nav-link" data-page="services">Practice areas    </a> </li>
                  <li><a href="#" class="footer-nav-link" data-page="blog">   News & resources   </a> </li>
                  <li><a href="#" class="footer-nav-link" data-page="contact">  Contact  </a> </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="location">
                  <h2 class="footer-top">Contact Info </h2>
                  <li class="footer-left-h"> <br></li>
                  <li class="footer-left-h"><span class="c_yellow">Email :</span>
                     <a href="">  </a>
                  </li>
                  <li class="footer-left-h"><span class="c_yellow">Call Us: </span>
                  </li>
               </ul>
            </div>
            
         </div>
      </div>
   </div>
</div>
<!--#End Our footer Area -->
