<!-- Header_Area -->
<nav class="navbar navbar-default header_aera affix-top">
   <div class="container m-s">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand logo-biss" href="#" id="logo-link"> 
            <span class="logo-full">
               <span class="logo-line-1">CHELSEA </span>
               <span class="logo-line-2"> CHANCELLOR</span>
            </span>
            <span class="logo-short">CC</span>
         </a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="min_navbar">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown submenu" data-page="index">
               <a href="#" class="nav-link">Home</a>
            </li>
            <li class="dropdown submenu" data-page="about">
               <a href="#" class="nav-link">About</a>
            </li>
            <li class="dropdown submenu" data-page="services">
               <a href="#" class="nav-link">Services</a>
            </li>
            <li class="dropdown submenu" data-page="blog">
               <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="dropdown submenu" data-page="contact">
               <a href="#" class="nav-link">Contact</a>
            </li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>
<!-- End Header_Area -->
